*{
    font-family:'Courier New', Courier, monospace;
    list-style: none;
    padding: 0;
}
body{
    background: rgb(146, 113, 146); 
}
.skills{
    width: 500px;
    margin: 60px auto;
    color: white;
    
}

/* .skill-bar {
    width: 800px;
    height: 500px;
    border: 1px solid rgb(190, 144, 144);
} */
.skills li{
    margin: 20px 0;

}
.bar{
    background: #353b48;
    display: block;
    height: 2px;
    border: 1px solid rgba(0, 0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px gold;
}
.bar span{
    height: 2px;
    float: left;
    background:gold;

}
.html{
    width: 90%;
    animation: html 2s;
}
.css{
    width: 70%;
    animation: css 2s;
}
.php {
    width: 55%;
    animation: php 2s;
}
.python{
    width: 25%;
    animation: python 2s;
}
.javascript{
    width:40%;
    animation: javascript 2s;
}
@keyframes html {
0%{
    width: 0%;
}
100%{
    width: 90%;
}
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
    }

    @keyframes php {
        0%{
            width: 0%;
        }
        100%{
            width: 55%;
        }
        }
        @keyframes python {
            0%{
                width: 0%;
            }
            100%{
                width: 25%;
            }
            }
            @keyframes javascript{
                0%{
                    width: 0%;
                }
                100%{
                    width: 40%;
                }
                }
